# Drizzle configuration
ENABLE_DRIZZLE_LOG=false

# Neon Postgres
NEON_POOLED_CONNECTION_STRING=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5173 # Base URL of your app
VITE_BETTER_AUTH_URL=http://localhost:5173 # Base URL of your app (for client-side)
